<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446878250781-fuhi6h62bhrgo3vkcrje5sdvlk6sekn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446878250781-fuhi6h62bhrgo3vkcrje5sdvlk6sekn3</string>
	<key>API_KEY</key>
	<string>AIzaSyB68oNx6-af-uM0y-wDTEtQ56slMhITmtA</string>
	<key>GCM_SENDER_ID</key>
	<string>446878250781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>hao-lin-ju-will</string>
	<key>STORAGE_BUCKET</key>
	<string>hao-lin-ju-will.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446878250781:ios:e404fa641416c60bc953f4</string>
</dict>
</plist>